<nav class="nav collapsible">
    <a class="nav__brandlogo" href="/"><img src="images/logo.svg" alt=""></a>
    <img class="icon icon__nav" src="/images/menu.svg">
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Hosting</a></li>
        <li class="nav__item"><a href="#">VPS</a></li>
        <li class="nav__item"><a href="#">Domain</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
    

</nav>
  <script src="/js/main.js"></script>